<div class="container-fluid" id="nav">
    <nav>
        <!-- <div style="padding-top: 2%;">CHATROOM</div> -->
        <span style="padding-top:2%; padding-left:1.7rem;font-size: min(3vw, 20px);"><a href="/home">Home</a></span>
        <span style="padding-top:2%; padding-left:.5rem;font-size: min(3vw, 20px);"><a href="/chatroom">CHATROOM</a></span>
        
        <span style="float: right; margin-right: 2rems;font-size: clamp(16px, 2vw, 22px);"><% if (locals.username) { %>
            <span id="namenav"><%= locals.username %></span>
            <%} else { %>
                <span style="float: right;font-size: 100%;"></span>
            <% } %>

        <span  style="float: right; padding-right:5rem; margin-left:2rem;font-size: min(3vw, 20px);"><a href="/signout">Sign Out</a></span>
    </nav>
    
</div> 