<div class="login">
    <div class="form">
        <form id="userinput" method="POST">
            <!-- <img style="width:100%; padding-right: 5rem;" src="https://media4.giphy.com/media/Pfbbh55Js9t0jGiPaK/giphy.gif?cid=3b899dd62621f8d4572efca839cdac511790d0bd8e1230c1&rid=giphy.gif&ct=s" alt=""> -->
            <img class="gif-signup" src="https://media3.giphy.com/media/dRqQuQC1D6fuJmssef/giphy.gif?cid=3b899dd695c40327d513d90135d376c64fa3d0f804828ee0&rid=giphy.gif&ct=s" alt="">
            <h2 style="text-align: center;" class="logintext">Sign up here 👻</h2>
            <!-- <a href="https://media4.giphy.com/media/Pfbbh55Js9t0jGiPaK/giphy.gif?cid=3b899dd62621f8d4572efca839cdac511790d0bd8e1230c1&rid=giphy.gif&ct=s">test</a> -->
            <div class="cursor"><input autofocus autocomplete="off" class="rq-form-element" id="username" name="username" type="text" placeholder="Choose your username..." required></div>
            <input type="password" id="passwd" name="password" placeholder="Choose your password..." required>
            <!-- <input type="submit" value="Let's go!" class="submit"> -->
            <button class="submit" id="submitbt" type="submit">Go!</button>
        </form>
        <div class="register" style="text-align:center; padding-top:10%;"><a style="font-size:1.3rem; color:pink" href="/login">Log in</a></div>
    </div>
</div>
<script src="/script.js"></script>
