<% if(message.length > 0) { %>
    <div class="noti" id="alertbox" role="alert">
        <%= message %>
    </div>
<% } %>


<div class="login">
    <div class="form">
        <form action="/" id="userinput" method="POST">
            <!-- <img style="width:100%; padding-right: 5rem;" src="https://media4.giphy.com/media/Pfbbh55Js9t0jGiPaK/giphy.gif?cid=3b899dd62621f8d4572efca839cdac511790d0bd8e1230c1&rid=giphy.gif&ct=s" alt=""> -->
            <img class="gif" src="https://media4.giphy.com/media/4c70EiUVkqJeD2k3nv/giphy.gif?cid=3b899dd61a222a74c83a98e2beb01599bc2c5fa80c1a1146&rid=giphy.gif&ct=ts" alt="">
            <h2 style="text-align: center;" class="logintext">Log in</h2>
            <!-- <a href="https://media4.giphy.com/media/Pfbbh55Js9t0jGiPaK/giphy.gif?cid=3b899dd62621f8d4572efca839cdac511790d0bd8e1230c1&rid=giphy.gif&ct=s">test</a> -->
            <div class="cursor"><input autofocus autocomplete="off" class="rq-form-element" id="username" name="username" type="text" placeholder="Username..."></div>
            <input type="password" id="passwd" name="password" placeholder="Password...">
            <!-- <input type="submit" value="Let's go!" class="submit"> -->
            <button class="submit" id="submitbt" type="submit">Let's go!</button>
        </form>
        <div class="register" style="text-align:center; padding-top:10%;"><a style="font-size:1.3rem; color:pink" href="/signup">Sign up</a></div>
    </div>
</div>
<script src="/script.js"></script>
<script>
    const alertbox = document.querySelector("#alertbox");
    setTimeout(() => {
        // alertbox.textContent = "HEYHEYEHYEHEY";
        alertbox.style.display = 'none';
    }
    ,3000);

</script>

